/* My minimal reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100dvh;
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  padding: 1.25rem;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  overflow-wrap: break-word;
}

p,
li,
figcaption {
  max-width: 65ch;
  text-wrap: pretty;
  overflow-wrap: break-word;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

button {
  margin-right: 0.625rem;
}
